# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [2]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [16]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

,id,date,amount,card,id_merchant,name
0,810,2018-02-04 19:02:09,0.51,3561954487988605,75,John Martin
1,755,2018-07-17 22:11:50,0.52,4506405265172173,142,Kevin Spencer
2,558,2018-07-14 17:44:09,0.53,4506405265172173,81,Kevin Spencer
3,635,2018-04-13 04:50:37,0.54,5500708021555307,150,Crystal Clark
4,811,2018-04-18 06:51:00,0.56,5500708021555307,50,Crystal Clark
...,...,...,...,...,...,...
3495,3064,2018-05-08 13:21:01,1901.00,30142966699187,108,Stephanie Dalton
3496,2597,2018-11-13 17:07:25,1911.00,5570600642865857,77,Crystal Clark
3497,3125,2018-09-02 06:17:00,2001.00,3581345943543942,18,Beth Hernandez
3498,2710,2018-04-21 19:41:51,2108.00,3581345943543942,130,Beth Hernandez
3499,2945,2018-12-13 15:51:59,2249.00,3516952396080247,83,Sean Taylor

In [68]:
# Write function that locates outliers using standard deviation
def locate_outliers_sd(df):
    arr = df['amount']
    
    elements = np.array(arr)
    
    mean = np.mean(elements, axis=0)
    sd = np.std(elements, axis=0)
    
    final_list = [x for x in arr if (x > mean - 2 * sd)]
    final_list = [x for x in final_list if (x < mean + 2 * sd)]
    
    arr_df = pd.Index(arr)
    final_list_df = pd.Index(final_list)
    
    sd_outliers = pd.DataFrame(arr_df.difference(final_list_df))
    outliers = query_result[query_result['amount'].isin(sd_outliers[0])]
    
    return(outliers)

In [69]:
# Find anomalous transactions for 3 random card holders
query = """
        SELECT t.id, t.date, t.amount, t.card, t.id_merchant, ch.name
        FROM transactions t
        LEFT JOIN credit_card cc ON t.card = cc.card
        LEFT JOIN card_holder ch ON cc.cardholder_id = ch.id
        WHERE ch.id = 1 OR ch.id = 3 OR ch.id = 6
        GROUP BY t.id, ch.name
        ORDER BY ch.name
        """
query_result = pd.read_sql(query, engine)

locate_outliers_sd(query_result)

,id,date,amount,card,id_merchant,name
43,1291,2018-01-08 02:34:32,1029.0,3581345943543942,145,Beth Hernandez
48,1348,2018-07-24 22:42:00,1108.0,3581345943543942,35,Beth Hernandez
53,1408,2018-11-27 17:20:29,1279.0,3581345943543942,134,Beth Hernandez
54,1459,2018-08-05 01:06:38,1379.0,3581345943543942,145,Beth Hernandez
66,1842,2018-02-27 15:27:32,1145.0,3581345943543942,33,Beth Hernandez
97,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,Beth Hernandez
106,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,Beth Hernandez
114,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,Beth Hernandez
119,3225,2018-07-03 14:56:36,1398.0,3581345943543942,8,Beth Hernandez
147,1005,2018-03-01 21:29:05,1119.0,30078299053512,19,Elizabeth Sawyer
156,1334,2018-07-11 16:55:22,1159.0,30078299053512,107,Elizabeth Sawyer
157,1349,2018-07-14 06:09:18,1160.0,30078299053512,136,Elizabeth Sawyer
159,1549,2018-10-19 01:07:37,1053.0,30078299053512,10,Elizabeth Sawyer
162,1629,2018-11-20 05:24:28,1054.0,30078299053512,22,Elizabeth Sawyer
215,968,2018-09-26 08:48:40,1060.0,4761049645711555811,134,Robert Johnson
230,1293,2018-12-30 23:23:09,1033.0,4761049645711555811,57,Robert Johnson
233,1368,2018-09-06 08:28:55,1017.0,4761049645711555811,135,Robert Johnson
245,1536,2018-09-06 21:55:02,1056.0,4761049645711555811,36,Robert Johnson
288,2497,2018-09-04 01:35:39,1790.0,4761049645711555811,43,Robert Johnson
293,2672,2018-11-27 17:27:34,1660.0,4761049645711555811,29,Robert Johnson
296,2752,2018-07-31 05:15:17,1302.0,4761049645711555811,111,Robert Johnson
301,2913,2018-01-24 13:17:19,1691.0,4761049645711555811,14,Robert Johnson
311,3163,2018-12-07 07:22:03,1894.0,4761049645711555811,9,Robert Johnson

## Identifying Outliers Using Interquartile Range

In [130]:
# Write a function that locates outliers using interquartile range
def locate_outliers_iq(df):
    arr = df['amount']
    
    elements = np.sort(np.array(arr))
    
    q1 = np.percentile(elements, 25)
    q3 = np.percentile(elements, 75)
    iq_range = q3 - q1
    
    if_diff = iq_range * 1.5
    inner_fence = [q1 - if_diff, q3 + if_diff]
    
    of_diff = iq_range * 3
    outer_fence = [q1 - of_diff, q3 + of_diff]
    
    minor_outliers = df[(df['amount'] < inner_fence[0]) | (df['amount'] > inner_fence[1])]
    major_outliers = df[(df['amount'] < outer_fence[0]) | (df['amount'] > outer_fence[1])]
    
    all_outliers = pd.concat([minor_outliers, major_outliers], axis=1, keys=['minor_outliers', 'major_outliers'])
    
    return(all_outliers)

In [132]:
# Find anomalous transactions for 3 random card holders
query = """
        SELECT t.id, t.date, t.amount, t.card, t.id_merchant, ch.name
        FROM transactions t
        LEFT JOIN credit_card cc ON t.card = cc.card
        LEFT JOIN card_holder ch ON cc.cardholder_id = ch.id
        WHERE ch.id = 1 OR ch.id = 3 OR ch.id = 6
        GROUP BY t.id, ch.name
        ORDER BY ch.name
        """
query_result = pd.read_sql(query, engine)

locate_outliers_iq(query_result)

    minor_outliers                                                   \
                id                date  amount                 card
1               38 2018-03-09 04:51:38   389.0     3581345943543942
43            1291 2018-01-08 02:34:32  1029.0     3581345943543942
48            1348 2018-07-24 22:42:00  1108.0     3581345943543942
53            1408 2018-11-27 17:20:29  1279.0     3581345943543942
54            1459 2018-08-05 01:06:38  1379.0     3581345943543942
66            1842 2018-02-27 15:27:32  1145.0     3581345943543942
97            2710 2018-04-21 19:41:51  2108.0     3581345943543942
106           2984 2018-09-11 15:16:47  1856.0     3581345943543942
114           3125 2018-09-02 06:17:00  2001.0     3581345943543942
119           3225 2018-07-03 14:56:36  1398.0     3581345943543942
128             16 2018-09-09 03:39:06   626.0       30078299053512
136            384 2018-10-07 14:40:34   757.0       30078299053512
142            696 2018-10-11 23:29:33   206.0       30078299053512
147           1005 2018-03-01 21:29:05  1119.0       30078299053512
156           1334 2018-07-11 16:55:22  1159.0       30078299053512
157           1349 2018-07-14 06:09:18  1160.0       30078299053512
159           1549 2018-10-19 01:07:37  1053.0       30078299053512
162           1629 2018-11-20 05:24:28  1054.0       30078299053512
172           2121 2018-08-21 20:46:33   188.0       30078299053512
173           2164 2018-12-28 16:20:31   313.0       30078299053512
195            292 2018-11-26 20:54:39   267.0  4761049645711555811
215            968 2018-09-26 08:48:40  1060.0  4761049645711555811
230           1293 2018-12-30 23:23:09  1033.0  4761049645711555811
233           1368 2018-09-06 08:28:55  1017.0  4761049645711555811
245           1536 2018-09-06 21:55:02  1056.0  4761049645711555811
282           2330 2018-10-16 13:27:33   484.0  4761049645711555811
288           2497 2018-09-04 01:35:39  1790.0  4761049645711555811
293           2672 2018-11-27 17:27:34  1660.0  4761049645711555811
296           2752 2018-07-31 05:15:17  1302.0  4761049645711555811
301           2913 2018-01-24 13:17:19  1691.0  4761049645711555811
311           3163 2018-12-07 07:22:03  1894.0  4761049645711555811
316           3423 2018-04-09 10:24:32   283.0  4761049645711555811

                                  major_outliers                              \
    id_merchant              name             id                date  amount
1            76    Beth Hernandez             38 2018-03-09 04:51:38   389.0
43          145    Beth Hernandez           1291 2018-01-08 02:34:32  1029.0
48           35    Beth Hernandez           1348 2018-07-24 22:42:00  1108.0
53          134    Beth Hernandez           1408 2018-11-27 17:20:29  1279.0
54          145    Beth Hernandez           1459 2018-08-05 01:06:38  1379.0
66           33    Beth Hernandez           1842 2018-02-27 15:27:32  1145.0
97          130    Beth Hernandez           2710 2018-04-21 19:41:51  2108.0
106         138    Beth Hernandez           2984 2018-09-11 15:16:47  1856.0
114          18    Beth Hernandez           3125 2018-09-02 06:17:00  2001.0
119           8    Beth Hernandez           3225 2018-07-03 14:56:36  1398.0
128         135  Elizabeth Sawyer             16 2018-09-09 03:39:06   626.0
136          73  Elizabeth Sawyer            384 2018-10-07 14:40:34   757.0
142         144  Elizabeth Sawyer            696 2018-10-11 23:29:33   206.0
147          19  Elizabeth Sawyer           1005 2018-03-01 21:29:05  1119.0
156         107  Elizabeth Sawyer           1334 2018-07-11 16:55:22  1159.0
157         136  Elizabeth Sawyer           1349 2018-07-14 06:09:18  1160.0
159          10  Elizabeth Sawyer           1549 2018-10-19 01:07:37  1053.0
162          22  Elizabeth Sawyer           1629 2018-11-20 05:24:28  1054.0
172          71  Elizabeth Sawyer           2121 2018-08-21 20:46:33   188.0
173          12  Elizabeth Sawyer           2164 2018-12-28 16:20:31   313.0
195          24    Robert Johnson            292 2018-11-26 20:54:39   267.0
215         134    Robert Johnson            968 2018-09-26 08:48:40  1060.0
230          57    Robert Johnson           1293 2018-12-30 23:23:09  1033.0
233         135    Robert Johnson           1368 2018-09-06 08:28:55  1017.0
245          36    Robert Johnson           1536 2018-09-06 21:55:02  1056.0
282         142    Robert Johnson           2330 2018-10-16 13:27:33   484.0
288          43    Robert Johnson           2497 2018-09-04 01:35:39  1790.0
293          29    Robert Johnson           2672 2018-11-27 17:27:34  1660.0
296         111    Robert Johnson           2752 2018-07-31 05:15:17  1302.0
301          14    Robert Johnson           2913 2018-01-24 13:17:19  1691.0
311           9    Robert Johnson           3163 2018-12-07 07:22:03  1894.0
316          50    Robert Johnson           3423 2018-04-09 10:24:32   283.0


                    card id_merchant              name
1       3581345943543942          76    Beth Hernandez
43      3581345943543942         145    Beth Hernandez
48      3581345943543942          35    Beth Hernandez
53      3581345943543942         134    Beth Hernandez
54      3581345943543942         145    Beth Hernandez
66      3581345943543942          33    Beth Hernandez
97      3581345943543942         130    Beth Hernandez
106     3581345943543942         138    Beth Hernandez
114     3581345943543942          18    Beth Hernandez
119     3581345943543942           8    Beth Hernandez
128       30078299053512         135  Elizabeth Sawyer
136       30078299053512          73  Elizabeth Sawyer
142       30078299053512         144  Elizabeth Sawyer
147       30078299053512          19  Elizabeth Sawyer
156       30078299053512         107  Elizabeth Sawyer
157       30078299053512         136  Elizabeth Sawyer
159       30078299053512          10  Elizabeth Sawyer
162       30078299053512          22  Elizabeth Sawyer
172       30078299053512          71  Elizabeth Sawyer
173       30078299053512          12  Elizabeth Sawyer
195  4761049645711555811          24    Robert Johnson
215  4761049645711555811         134    Robert Johnson
230  4761049645711555811          57    Robert Johnson
233  4761049645711555811         135    Robert Johnson
245  4761049645711555811          36    Robert Johnson
282  4761049645711555811         142    Robert Johnson
288  4761049645711555811          43    Robert Johnson
293  4761049645711555811          29    Robert Johnson
296  4761049645711555811         111    Robert Johnson
301  4761049645711555811          14    Robert Johnson
311  4761049645711555811           9    Robert Johnson
316  4761049645711555811          50    Robert Johnson